---
# Role: proxmox
#
# Usage:
#
#   roles:
#     - proxmox
#
# Implements https://pve.proxmox.com/wiki/Install_Proxmox_VE_on_Debian_12_Bookworm and
# https://pve.proxmox.com/wiki/Install_Proxmox_VE_on_Debian_13_Trixie

# On cluster creation PermitRootLogin yes is added.
# We have to make sure that this line is removed afterwards.
# This is just a sanity check, as this should be handled in role base.
- name: Make sure root login via password is not permitted
  lineinfile:
    dest: /etc/ssh/sshd_config
    line: 'PermitRootLogin yes'
    state: absent
  notify: restart ssh

- name: External IP must be resolvable in /etc/hosts
  lineinfile:
    dest: /etc/hosts
    regexp: '.*{{ ansible_fqdn }}'
    line: '{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}'

# we switched from /etc/apt/sources.list.d/proxmox.list to product
# specific files like pve.list + ceph.list
- name: Ensure /etc/apt/sources.list.d/proxmox.list is not present
  file:
    dest: /etc/apt/sources.list.d/proxmox.list
    state: absent
  notify: apt-get update

# we manage the repository ourselves
- name: Remove /etc/apt/sources.list.d/pve-enterprise.list (if installed by Proxmox)
  file:
    dest: /etc/apt/sources.list.d/pve-enterprise.list
    state: absent
  notify: apt-get update

- name: Deploy Proxmox VE apt repository
  template:
    src: templates/apt/pve.list.j2
    dest: /etc/apt/sources.list.d/pve.list
    owner: root
    group: root
    mode: 0644
  notify: apt-get update

- name: Deploy Proxmox Ceph apt repository
  template:
    src: templates/apt/ceph.list.j2
    dest: /etc/apt/sources.list.d/ceph.list
    owner: root
    group: root
    mode: 0644
  notify: apt-get update

- name: Make sure a conflicting firmware-amd-graphics package is purged
  apt:
    name: firmware-amd-graphics
    state: absent
    purge: true

- name: Install Proxmox VE packages (except ksm-control-daemon open-iscsi)
  apt:
    name:
      - proxmox-ve
      - lldpd
    state: present
  when: not ansible_check_mode

- name: Check for etckeeper
  shell: 'dpkg -l etckeeper | grep -e "^ii" -q'
  register: etckeeper_installed
  ignore_errors: true
  changed_when: false
  check_mode: false
- name: Setup etckeeper to ignore /etc/pve
  lineinfile:
    path: /etc/.gitignore
    line: pve
  when:
    - etckeeper_installed.rc == 0
- name: Check for /etc/pve in etckeeper
  shell: 'etckeeper vcs ls-files /etc/pve | grep -e "pve" -q'
  register: pve_exists_in_etckeeper
  ignore_errors: true
  changed_when: false
  when: etckeeper_installed.rc == 0
- name: Remove /etc/pve from etckeeper
  command: etckeeper vcs rm -r --cached /etc/pve/
  when:
    - pve_exists_in_etckeeper.rc is defined
    - pve_exists_in_etckeeper.rc == 0
  notify: etckeeper snapshot ignore pve
- name: Enable kernel IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    sysctl_file: '/etc/sysctl.d/99-proxmox.conf'
    state: present
    reload: true
  when: proxmox_sysctl_ipv4_forward

- name: Enable nested virtualization on Intel CPU
  lineinfile:
    path: '/etc/modprobe.d/kvm-intel.conf'
    line: 'options kvm-intel nested=Y'
    create: true
  when: proxmox_nested_virtualization

- include_tasks: check_create_pveadmin.yml
  when: proxmox_pveadmins is defined

- include_tasks: check_create_pveuser.yml
  with_items: "{{ proxmox_pveadmins }}"
  when: proxmox_pveadmins is defined
